<!DOCTYPE html>
<html ng-app = "chess">
	<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" type="text/javascript"></script>

  </head>
  <body ng-controller = "loginCtrl">
    <h1>Splash Page</h1>
    <h4> dive on in! </h4>

      <h1>Existing Users</h1>
      <form ng-submit="login()">
          <input type="text" ng-model="loginForm.username" placeholder="Username"/>
          <input type="password" ng-model="loginForm.password" placeholder="Password"/>
          <input type="submit"/>
      </form>

      <h1>Register</h1>
      <form ng-submit="signup()">
          <input type="text" ng-model="signupForm.username" placeholder="Username"/>
          <input type="password" ng-model="signupForm.password" placeholder="Password"/>
          <input type="submit"/>
      </form>
			<script src = 'javascripts/authFactory.js' type = "text/javascript"></script>
      <script src = 'javascripts/loginCtrl.js' type = 'text/javascript'></script>
  </body>
</html>
